<% provide(:title, t("static_page.about.title") )%>
<h1> <%= t "static_page.about.about"%> </h1>
<p>
    <%=sanitize t("static_page.about.to", link_rails: link_to( t("static_page.about.ruby"), "http://www.railstutorial.org/"), link_book: link_to( t("static_page.about.book"), "http://www.railstutorial.org/book"), link_rails1: link_to( t("static_page.about.rails"), "http://rubyonrails.org/")) %>
</p>
