<% provide(:title, t("static_page.contact.title") )%>
<h1> <%= t "static_page.contact.contact" %> </h1>
<p> <%=sanitize t("static_page.contact.link", link_contact: link_to( t("static_page.about.ruby"), "http://www.railstutorial.org/")) %> </p>

