<% provide(:title,  t("static_page.contact.title")) %>
<h1><%= t("static_page.contact.contact")%></h1>
<p>
  <%= t("static_page.contact.sam")%>
  <a href="http://www.railstutorial.org/contact"><%= t("static_page.contact.page")%></a>.
</p>
