<% provide(:title, t("static_page.home.title") )%>
<h1> <%= t "static_page.home.sa" %> </h1>
<p> <%= t "static_page.home.this" %> <%= link_to t("static_page.home.ruby"), "http://www.railstutorial.org/" %> <%= t "static_page.home.sample" %> </p>
