<% provide(:title, t("static_page.home.title") )%>
<h1> <%= t "static_page.home.sa" %> </h1>
<p> <%= t "static_page.home.this" %> <a href="http://www.railstutorial.org/"> <%= t "static_page.home.ruby" %> l</a> <%= t "static_page.home.sample" %> </p>
